Source: nuts
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://nxos.org


Package: nuts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  A simple utility to update Nitrux.
 The point of this utility is twofold:
  - Update the Nitrux Operating System
  - Create backups of the root for rollbacks
 nuts targets Nitrux 2.8.0+.

